body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}


#titulo{
    text-align: left;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* asi se muestra la lista sin nada */

#lista-tareas {
    list-style: none;
    padding: 0;
}
/* cuanto la lista tiene elementos */

#lista-tareas li {

    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nueva-tarea {
    padding: 7px;
    border: 2px solid #92bebb;
    border-radius: 5px;
    margin-right: 10px;
}

#agregar-tarea {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #92bebb;
}

#eliminar-tarea {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #da4545;
}

#vaciar-tareas {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #479dff;
}


#nueva-tarea{
    width: 100px;
    padding: 10px 25px;
    transition: width 0.5s ease;

}

#nueva-tarea:hover {
width: 250px;

}
#nueva-tarea:focus {
    outline: none;
    border-color: #ff4747;
    box-shadow: 0 0 5px rgba(71, 157, 255, 0.5);
}



#agregar-tarea, #eliminar-tarea, #vaciar-tareas {
    transition: transform 0.5s ease ;
}

#agregar-tarea:hover, #eliminar-tarea:hover , #vaciar-tareas:hover {
    transform: scale(1.03);
    padding: 7px 18px;
}


@media (max-width: 600px) {
    #nueva-tarea {
        width: 100%;
        margin-bottom: 10px;
    }

    #agregar-tarea, #eliminar-tarea, #vaciar-tareas {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    #nueva-tarea {
        width: 80%;
    }
    #agregar-tarea, #eliminar-tarea, #vaciar-tareas {
        width: auto;
    }
}


